@import 'bootstrap/dist/css/bootstrap.min.css';

.container{
    width: 800px;
    height: 100vh;
    margin: 100px auto;
}

.container > form{
    max-width: 600px;
    margin: 0 auto;
}

.container > button {
    margin-top: 20px;
    margin-right: 85px;
    float: right;
}
